In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sh2\anaconda3\lib\site-packages (9.2.0)Note: you may need to restart the kernel to use updated packages.

In [18]:
import os 
os.chdir(r"D:\downloads\workshop\archive")

In [17]:
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()

def import_csv_to_table(file_path, table_name):
    try:
        df = pd.read_csv(file_path)
        df = df.where(pd.notnull(df), None)  # Replace NaN values with None

        placeholders = ', '.join(['%s'] * len(df.columns))
        columns = ', '.join([f"`{col}`" for col in df.columns])
        sql = f"INSERT INTO `{table_name}` ({columns}) VALUES ({placeholders})"

        inserted_rows = 0
        for row in df.itertuples(index=False):
            clean_row = tuple(None if pd.isna(value) else value for value in row)
            try:
                cursor.execute(sql, clean_row)
                inserted_rows += 1
            except Exception as e:
                print(f"Error inserting into {table_name}: {e}")

        connection.commit()
        print(f"Inserted {inserted_rows} rows into {table_name}")

    except Exception as e:
        print(f"Error importing {file_path}: {e}")

# Import data files dynamically
try:
    csv_files = [
        "brands.csv",
        "categories.csv",
        "products.csv",
        "stores.csv",
        "customers.csv",
        "staffs.csv",
        "orders.csv",
        "stocks.csv",
        "order_items.csv"
    ]
    
    for file in csv_files:
        table_name = file.split(".")[0]
        print(f"Importing {file} into {table_name} ...")
        import_csv_to_table(file, table_name)
finally:
    cursor.close()
    connection.close()
    print("Database connection closed.")

Importing brands.csv into brands ...
Error importing brands.csv: [Errno 2] No such file or directory: 'brands.csv'
Importing categories.csv into categories ...
Error importing categories.csv: [Errno 2] No such file or directory: 'categories.csv'
Importing products.csv into products ...
Error importing products.csv: [Errno 2] No such file or directory: 'products.csv'
Importing stores.csv into stores ...
Error importing stores.csv: [Errno 2] No such file or directory: 'stores.csv'
Importing customers.csv into customers ...
Error importing customers.csv: [Errno 2] No such file or directory: 'customers.csv'
Importing staffs.csv into staffs ...
Error importing staffs.csv: [Errno 2] No such file or directory: 'staffs.csv'
Importing orders.csv into orders ...
Error importing orders.csv: [Errno 2] No such file or directory: 'orders.csv'
Importing stocks.csv into stocks ...
Error importing stocks.csv: [Errno 2] No such file or directory: 'stocks.csv'
Importing order_items.csv into order_items ...
Error importing order_items.csv: [Errno 2] No such file or directory: 'order_items.csv'
Database connection closed.

In [14]:
pip install ipython-sql pymysql

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\sh2\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [13]:
pip install jupysql

Requirement already satisfied: jupysql in c:\users\sh2\anaconda3\lib\site-packages (0.10.17)
Requirement already satisfied: prettytable>=3.12.0 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (3.14.0)
Requirement already satisfied: sqlalchemy in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (26.3.6)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in c:\users\sh2\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\sh2\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.9.3)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable>=3.12.0->jupysql) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (3.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install --upgrade ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (3.13.0)
Collecting prettytable
  Downloading prettytable-3.14.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading prettytable-3.14.0-py3-none-any.whl (31 kB)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.13.0
    Uninstalling prettytable-3.13.0:
      Successfully uninstalled prettytable-3.13.0
Successfully installed prettytable-3.14.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [6]:
%load_ext sql

In [7]:
%sql mysql+pymysql://root:@localhost/bikestore_howyda

Connecting to 'mysql+pymysql://root:***@localhost/bikestore_howyda'

In [51]:
# level 4 q 1
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()
tables = pd.read_sql("""
SELECT s.store_name, 
       SUM(oi.quantity * p.list_price) AS total_revenue
FROM stores s
JOIN orders o ON s.store_id = o.store_id
JOIN order_items oi ON oi.order_id = o.order_id
JOIN products p ON p.product_id = oi.product_id
GROUP BY s.store_name
ORDER BY total_revenue DESC
LIMIT 1;

""", connection)
tables

C:\Users\sh2\AppData\Local\Temp\ipykernel_29060\477434963.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("""

      store_name  total_revenue
0  Baldwin Bikes     5826242.21

In [41]:
#level 4 q 2
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)
cursor = connection.cursor()
tables = pd.read_sql("""
SELECT p.product_name
FROM products p
LEFT JOIN order_items o ON p.product_id = o.product_id
WHERE o.order_id IS NULL;

""", connection)
tables

In [53]:
#level 4 q 3 
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()
tables = pd.read_sql("""
SELECT c.first_name, c.last_name , COUNT(o.order_id) AS TotalOrders 
FROM Customers c
LEFT JOIN Orders o 
ON c.customer_id = o.customer_id 
GROUP BY c.customer_id, c.first_name 
ORDER BY TotalOrders ASC 
LIMIT 1;
""", connection)
tables

C:\Users\sh2\AppData\Local\Temp\ipykernel_29060\4187152357.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("""

  first_name last_name  TotalOrders
0      Jesus     Burch            1

In [47]:
#level 4 q 4
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()
tables = pd.read_sql("""
SELECT YEAR(o.order_date) AS OrderYear, MONTH(o.order_date) AS OrderMonth,
SUM(od.Quantity * od.list_price) AS MonthlyRevenue 
FROM Orders o JOIN order_items od 
ON o.order_id = od.order_id 
WHERE YEAR(o.order_date) = 2017 
GROUP BY YEAR(o.order_date), 
MONTH(o.order_date) 
ORDER BY OrderMonth;

""" , connection)
tables

C:\Users\sh2\AppData\Local\Temp\ipykernel_29060\2417275866.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("""

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,store_id,store_name,phone,email,street,city,state,zip_code
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,(831) 555-5554,1,1,NaN,1,Santa Cruz Bikes,(831) 476-4321,santacruz@bikes.shop,3700 Portola Drive,Santa Cruz,CA,95060
1,2,Mireya,Copeland,mireya.copeland@bikes.shop,(831) 555-5555,1,1,1.0,1,Santa Cruz Bikes,(831) 476-4321,santacruz@bikes.shop,3700 Portola Drive,Santa Cruz,CA,95060
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1,2.0,1,Santa Cruz Bikes,(831) 476-4321,santacruz@bikes.shop,3700 Portola Drive,Santa Cruz,CA,95060
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1,2.0,1,Santa Cruz Bikes,(831) 476-4321,santacruz@bikes.shop,3700 Portola Drive,Santa Cruz,CA,95060
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2,1.0,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432
5,6,Marcelene,Boyer,marcelene.boyer@bikes.shop,(516) 379-4445,1,2,5.0,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432
6,7,Venita,Daniel,venita.daniel@bikes.shop,(516) 379-4446,1,2,5.0,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3,1.0,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3,7.0,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3,7.0,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088

In [49]:
#level 4 q 5
import numpy as np 
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()
tables = pd.read_sql("""
SELECT p.product_id, p.product_name, SUM(s.Quantity) AS TotalStock FROM Products p JOIN stocks s ON p.product_id = s.product_id GROUP BY p.product_id, p.product_name HAVING SUM(s.Quantity) < 100 ORDER BY TotalStock ASC;
""" , connection)
tables

C:\Users\sh2\AppData\Local\Temp\ipykernel_29060\4185825915.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("""

         category_name  total_revenue
0       Mountain Bikes     3030775.71
1           Road Bikes     1852555.60
2    Cruisers Bicycles     1109151.04
3       Electric Bikes     1020236.85
4  Cyclocross Bicycles      799874.60
5     Comfort Bicycles      438506.87
6    Children Bicycles      327888.21